/* You can add global styles to this file, and also import other style files */
@import "primeicons/primeicons.css";
@import 'primeflex/primeflex.scss';
//@import "primeng/resources/themes/lara-light-blue/theme.css";
//@import "primeng/resources/themes/bootstrap4-light-blue/theme.css";
//@import "primeng/resources/primeng.css";

.geboButtonsBar {
    width: 360px;
}
.geboLargeButtonsBar {
    width: 480px;
}
.geboVeryLargeButtonsBar {
    width: 600px;
}
label {
    font-weight: bold;
}
.geboDialogContent {
    min-height: 600px;
    height: 90%;
}
.geboMinHeight{
    min-height: 900px;
    height: 100%;
}
.geboFullHeight{
    min-height: 600px;
    height: 100%;
}
.geboHalfHeight{
    height: 50%;
}
.geboThirdHeight{
    height: 33%;
}

.anchorButton {
    border: 0px solid #146084;border-radius: 20%;   
    padding: 10px; 
    height: 100%;
    width: 100%;
}
.anchorButton:hover {
    border: 0px solid#146084;border-radius: 20%;   
    color: #146084;
    padding: 10px; 
    height: 100%;
    width: 100%;
}

.p-panel .p-panel-header {
    color: #146084;
    //background-color: #FAFAFA;
    //padding: 0px;
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}
.p-panel .p-panel-header .p-panel-title {
    font-size: 1.25rem;     /* Aumenta la dimensione del testo */
    padding: 0.25rem 0;     /* Padding verticale se serve */
  }
  
.p-megamenu-item-label {
    color: #146084;
    background-color: transparent;;
}

.p-fieldset .p-fieldset-legend {
    color:#146084;
    text-align: left;
    border: 0px;
    background: transparent;
    padding: 0.1em;
}
.p-dialog .p-dialog-header {
    padding: 0.1rem 0.1rem !important;
  }
.pi.pi-git,
.pi.pi-sharepoint,
.pi.pi-onedrive,
.pi.pi-google-workspace,
.pi.pi-confluence,
.pi.pi-jira {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  filter: grayscale(100%) 
}

/* Specific icons */
.pi.pi-sharepoint {
  background-image: url("assets/3rdparty/ms-sharepoint-svgrepo-com.svg");
}

.pi.pi-onedrive {
  background-image: url("assets/3rdparty/ms-onedrive-svgrepo-com.svg");
}

.pi.pi-google-workspace {
  background-image: url("assets/3rdparty/google-workspace-logo.svg");
}

.pi.pi-confluence {
  background-image: url("assets/3rdparty/confluence-svgrepo-com.svg");
}

.pi.pi-jira {
  background-image: url("assets/3rdparty/atlassian-jira-svgrepo-com.svg");
}

.pi.pi-git {
  background-image: url("assets/3rdparty/git-svgrepo-com.svg");
}
.pi.pi-google,
.pi.pi-facebook,
.pi.pi-github,
.pi.pi-microsoft,
.pi.pi-linkedin,
.pi.pi-apple,
.pi.pi-x,          /* ex-Twitter */
.pi.pi-amazon,
.pi.pi-slack,
.pi.pi-microsoft_multitenant,
.pi.pi-aws_cognito,
.pi.pi-oauth2_generic {
  display: inline-block;
  width: 3.5em;          /* 1.5 em × 5 */
  height: 3.5em;         /* 1.5 em × 5 */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /*filter: grayscale(100%);*/
}

/* URL SVG specifici – scaricati (es. da Simple Icons) in assets/3rdparty */
/*.pi.pi-google   { background-image: url("assets/oauth2/google.svg"); }*/
.pi.pi-google   { background-image: url("assets/oauth2/google-logo-search-new-svgrepo-com.svg"); }
.pi.pi-facebook { background-image: url("assets/oauth2/facebook.svg"); }
.pi.pi-github   { background-image: url("assets/oauth2/github.svg"); }
/*.pi.pi-microsoft{ background-image: url("assets/oauth2/microsoft.svg"); }
.pi.pi-microsoft_multitenant{ background-image: url("assets/oauth2/microsoft.svg"); }*/
.pi.pi-microsoft { background-image: url("assets/oauth2/ms-symbollockup_mssymbol_19.svg"); }
.pi.pi-microsoft_multitenant { background-image: url("assets/oauth2/ms-symbollockup_mssymbol_19.svg"); }
.pi.pi-aws_cognito { background-image: url("assets/oauth2/aws-svgrepo-com.svg"); }

.pi.pi-linkedin { background-image: url("assets/oauth2/linkedin.svg"); }
.pi.pi-apple    { background-image: url("assets/oauth2/apple.svg"); }
.pi.pi-x        { background-image: url("assets/oauth2/x.svg"); }   /* logo “X” */
.pi.pi-amazon   { background-image: url("assets/oauth2/amazon.svg"); }
.pi.pi-slack    { background-image: url("assets/oauth2/slack.svg"); }
.pi.pi-oauth2_generic    { background-image: url("assets/oauth2/oauth-svgrepo-com.svg"); }