name: Build and Release Gebo.ai installers

on:
  push:
    tags:
      - "v*.*.*"
  workflow_dispatch:
permissions:
  contents: write
jobs:
  build-deb:
    runs-on: ubuntu-24.04

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Java 21
        uses: actions/setup-java@v4
        with:
          distribution: oracle
          java-version: "21"

      - name: Build DEB with Maven
        run: |
          mvn -B clean package \
            -P bootables,angular-ui,package-unix-deb \
            -DskipTests

      - name: Upload DEB artifact
        uses: actions/upload-artifact@v4
        with:
          name: deb
          path: |
            **/target/installer/*.deb
      - name: Upload bootable JAR
        uses: actions/upload-artifact@v4
        with:
          name: bootable-jar
          path: |
            **/target/*-bootable.jar
  #  build-rpm:
  #    runs-on: ubuntu-latest

  #    steps:
  #      - name: Checkout
  #        uses: actions/checkout@v4

  #      - name: Build RPM via RockyLinux Docker image
  #        run: |
  #          docker build \
  #            -t gebo-rpm-build \
  #            -f docker/Dockerfile.rockylinux .
  #
  #         mkdir -p delivery
  #
  #          docker run --rm \
  #            -v "$PWD/delivery:/build-area/delivery" \
  #            gebo-rpm-build

  #      - name: Upload RPM artifact
  #        uses: actions/upload-artifact@v4
  #        with:
  #          name: rpm
  #          path: |
  #            delivery/**/*.rpm

  build-msi:
    runs-on: windows-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Java 22 (o 21 se preferisci)
        uses: actions/setup-java@v4
        with:
          distribution: oracle
          java-version: "22"

      - name: Install WiX Toolset (per MSI)
        run: |
          choco install wixtoolset -y

      - name: Build MSI with Maven
        run: |
          mvn -B clean package -P bootables,angular-ui,package-windows -DskipTests

      - name: Upload MSI artifact
        uses: actions/upload-artifact@v4
        with:
          name: msi
          path: |
            **/target/installer/*.msi

  release:
    runs-on: ubuntu-latest
    needs:
      - build-deb
      - build-msi
    # future pubblications
    #  - build-rpm
    #

    steps:
      - name: Download all artifacts
        uses: actions/download-artifact@v4
        with:
          path: release-files

      - name: Create GitHub Release and upload assets
        uses: softprops/action-gh-release@v2
        with:
          files: |
            release-files/**/*
          draft: false
          prerelease: false
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
